.buttonstart  {
 background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-top: 100px;

 border: 2px solid #000;
 font-size: 17px;
 padding: 10px 12px;
 font-weight: normal;
 margin: 6px 0;
 margin-right: 12px;
 display: inline-block;
 text-decoration: none;
 font-family: 'Open Sans', sans-serif;
 min-width: 120px;
 outline: none; 
 border-radius: 10px;
}

.buttonstart:hover, .ghost-button:active {
 color:#fff;
 background:#000;
}

#btn-contain{
  margin-left: 10px;
  margin-top: 20px;
}

#registration-button {
  width: 190px;
  margin-right: 4px;
  margin-bottom: 7px;
}

#company-represent {
  color: lightblue;
}

#company-represent:hover {
  text-decoration: underline;
}

#description {
    width: 100%;
    font-size: 13pt;
}
#logo
{
  margin-bottom: 2.5%;
  margin-top: 5%;
}

.intro
{
    background-image: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5) ), url(../img/petal.jpg);
}

#title
{
  margin-bottom: 2.5%;
}

#description_container
{
  background-color: #FFF;
  color: #181818;
  margin-top: 2.5%;
  padding-top: 2.5%;
  width: 100%;
}

.info
{
  font-size: 12pt;
}

.test
{
  background-color: #FFF;
  color: #181818;
  margin-top: 2.5%;
  padding-top: 2.5%;
  width: 100%;
}

.intro-text
{
  margin: 0;
}

#copyright-text
{
  font-weight: normal;
  color: #888;
  margin: 0;
}

.jumbotron
{
  font-size: 12pt;
}