body 
{
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	font-family: calibri;
	font-weight: lighter;
}

a
{
	color: #333;
}

a:hover
{
	color: #333;
    text-decoration: none;
}

footer 
{
    margin: 50px 0;
}

.text-left
{
    margin: auto auto 0;
}

.company-name
{
    font-size: 150%;
    margin: 1rem 0;
    font-weight: normal;
}

.company-description
{
    font-size: 100%;
}

.circle-format
{
	border-radius: 50%;
	margin: 0 auto;
}

.img-center 
{
	margin: 0 auto;
}

.image-control
{
	display: block;
}

.profile-img
{
	width: 100%;
	height: 100%;
}

.square
{
	width: 150px;
	height: 150px;
	
}


#button {
    padding: 2.25rem 3.25rem;
    border: 0 solid;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0.5rem;
}
 
#button:focus, #button:active:focus, #button:focus {
    ouline: 0 none;
}
 
.btn-custom {
    background: #5cb85c;
    color: #FFF;
}
 
.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .open > .dropdown-toggle.btn-custom {
    background: #449d44;
}
 
.btn-custom:active, .btn-custom.active {
    background: #007299;
    box-shadow: none;
}


    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) 
    {

        .btn
        {
            margin-top: 20%;
            padding: 0.75rem 2rem;
        }

		.company-name
		{
			font-size: 125%;
            margin-top: 20%;
		}

        .company-description
        {
            font-size: 75%;
        }

    	.square
    	{
    		width: 75px;
    		height: 75px;
    	}
    }

    /* S5 */ 
    @media only screen and (min-width : 360px) 
    {        
        .btn
        {
            margin-top: 20%;
            padding: 1rem 2.25rem;
        }
		.company-name
		{
			font-size: 125%;
            margin-top: 20%;
		}

        .company-description
        {
            font-size: 75%;
        }

    	.square
    	{
    		width: 75px;
    		height: 75px;
    	}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) 
    {        
        .btn
        {
            margin-top: 25%;
            padding: 0.75rem 2rem;
        }
    	.company-name
    	{
    		font-size: 125%;
            margin-top: 25%;
    	}

        .company-description
        {
            font-size: 75%;
        }

    	.square
    	{
    		width: 100px;
    		height: 100px;
    	}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) 
    {        
        .btn
        {
            margin-top: 25%;
            padding: 1.5rem 2.5rem;
        }
    	.company-name
    	{
    		font-size: 125%;
            margin-top: 25%;
    	}

        .company-description
        {
            font-size: 100%;
        }

    	.square
    	{
    		width: 125px;
    		height: 125px;
    	}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) 
    {        
        .btn
        {
            margin-top: 20%;
            padding: 1.5rem 2.5rem;
        }
    	.company-name
    	{
    		font-size: 150%;
            margin-top: 25%;
    	}

        .company-description
        {
            font-size: 100%;
        }

    	.square
    	{
    		width: 150px;
    		height: 150px;
    	}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) 
    {        
        .btn
        {
            margin-top: 15%;
            padding: 2.5rem 2.5rem;
        }
    	.company-name
    	{
    		font-size: 150%;
            margin-top: 15%;
    	}

        .company-description
        {
            font-size: 100%;
        }

    	.square
    	{
    		width: 150px;
    		height: 150px;
    	}
    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) 
    {        
        .btn
        {
            margin-top: 20%;
            padding: 1.5rem 2.5rem;
        }
    	.company-name
    	{
    		font-size: 150%;
            margin-top: 20%;
    	}

        .company-description
        {
            font-size: 100%;
        }

    	.square
    	{
    		width: 150px;
    		height: 150px;
    	}
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) 
    {        
        .btn
        {
            margin-top: 20%;
            padding: 1.5rem 2.5rem;
        }
    	.company-name
    	{
    		font-size: 150%;
            margin-top: 25%;
    	}

        .company-description
        {
            font-size: 100%;
        }

    	.square
    	{
    		width: 150px;
    		height: 150px;
    	}
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) 
    {        
        .btn
        {
            margin-top: 25%;
            padding: 1.5rem 2.5rem;
        }
    	.company-name
    	{
            margin-top: 25%;
    	}

        .company-description
        {
            font-size: 100%;
        }

    	.square
    	{
    		width: 125px;
    		height: 125px;
    	}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) 
    {        
        .btn
        {
            margin-top: 25%;
            padding: 0.75rem 2rem;
        }
    	.company-name
    	{
    		font-size: 125%;
            margin-top: 25%;
    	}

        .company-description
        {
            font-size: 75%;
        }

    	.square
    	{
    		width: 100px;
    		height: 100px;
    	}
    }
    
    /* Custom, S5 */ 
    @media only screen and (max-width : 360px) 
    {        
        .btn
        {
            margin-top: 20%;
            padding: 1rem 2.25rem;
        }
        .company-name
    	{
    		font-size: 125%;
            margin-top: 20%;
    	}

        .company-description
        {
            font-size: 75%;
        }

    	.square
    	{
    		width: 75px;
    		height: 75px;
    	}  
    }
   
    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) 
    {        
        .btn
        {
            margin-top: 20%;
            padding: 0.75rem 2rem;
        }
        .company-name
    	{
    		font-size: 125%;
            margin-top: 20%;
    	}

        .company-description
        {
            font-size: 100%;
        }

        .square
    	{
    		width: 75px;
    		height: 75px;
    	}  
    }