body
{
    display: table;
    width: 100%;
    height: auto;
    padding: 0;
    text-align: center;
    color: white;
    background-color: #000;
}

.buttonstart  {
 background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-top: 100px;

 border: 2px solid #000;
 font-size: 17px;
 padding: 10px 12px;
 font-weight: normal;
 margin: 6px 0;
 margin-right: 12px;
 display: inline-block;
 text-decoration: none;
 font-family: 'Open Sans', sans-serif;
 min-width: 120px;
 outline: none; 
 border-radius: 10px;
}

.buttonstart:hover, .ghost-button:active {
 color:#fff;
 background:#000;
}

#btn-contain{
  margin-left: 10px;
  margin-top: 20px;
}

#registration-button {
  width: 190px;
  margin-right: 4px;
  margin-bottom: 24px;
}

#company-represent {
  color: lightblue;
}

#company-represent:hover {
  text-decoration: underline;
}

#description {
    width: 100%;
    font-size: 13pt;
}
#logo
{
  margin-bottom: 2.5%;
  margin-top: 5%;
}

.intro
{
    background-image: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5) ), url(../img/petal.jpg);
    padding: 0;
}

#title
{
  margin-bottom: 2.5%;
  font-size: 225%;
}

.row
{
  margin-right: 0;
  margin-left: 0;
}

#description_container
{
  width: 100%;
  background-color: #EEE;
  color: #181818;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-top: 0;
}

.info
{
  font-size: 12pt;
}

.info-title
{
  padding-top: 2.5%;
}

.test
{
  background-color: #FFF;
  color: #181818;
  margin-top: 2.5%;
  padding-top: 2.5%;
  width: 100%;
}

.intro-text
{
  margin: 0;
}

#copyright-text
{
  font-weight: normal;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  vertical-align: middle;
}

#footer
{
  background-color: #000;
  color: #888;
  width: 100%;
}

#register-today
{
  background-color: #FFF;
  color: #181818;
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
}

#greet
{
  display: table;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white; 
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5) ), url(../img/greet.jpg);
  top: 30%;

  background-color: #FFF;
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-top: 48px;
}

#loginBtn {
  margin-top: 1%;
  margin-right: 1%;
  color: #FFF;
  background: none;
  border: solid white;
  border-radius: 50px;/*
  padding-top: 0.5%;
  padding-left: 3%;
  padding-right: 3%;*/
  padding-bottom: 0.5%;
  text-align: center;
  background-color: none;
  margin-top: 25%;
  width: 100%;
  height: 48px;
}

#loginBtn:hover{
  background-color: #FFF;
  color: #000;
}